/* .parent{
    position: relative;
}
.how{
    height: 150px;
    width: 150px;
    background-color: rebeccapurple;
    align-items: center;
    justify-content: center;
    display: flex;
    text-align: center;
    resize: horizontal; 
    overflow: auto;
    position: absolute;
}

#bounding-box{

    height: 600px;
    width: 400px;
    border: 1px solid black;
} */

p {
    font-family: Lato;
  }
  
  .control-image {
    position: relative;
    background-color: blue;
    text-align: left;
    cursor: move;
  }
  
  .dragHandle {
    position: absolute;
    background-color: red;
  }
  
  .dragHandle.rb {
    width: 15px;
    height: 15px;
    cursor: nwse-resize;
  }
  
  /* .dragHandle.right {
    width: 2px;
    height: 100%;
    cursor: ew-resize;
  }
  
  .dragHandle.bottom {
    height: 2px;
    width: 100%;
    cursor: ns-resize;
  } */

  .header-image{
    height: 700px;
    width: 600px;
    border: solid 1px black;
  }

  #box{
    background-image: url("https://images.pexels.com/photos/15588318/pexels-photo-15588318.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    /* background-size: contain; */
    background-size: cover;
    
  }